# Sentiment Rating Creation

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
reviews_df = pd.read_csv('reviews_cleaned_sentiment.csv')

In [3]:
print(reviews_df.shape)
reviews_df.head()

(62132, 12)

,listing_id,id,date,reviewer_id,reviewer_name,comments,length,language,compound,neg,neu,pos
0,25972498,490566386,2019-07-19,77042397,Alex,Great,5.0,en,0.6249,0.0,0.0,1.0
1,42417293,626391422,2020-05-27,343518017,Muhammad Hazwan,Great,5.0,en,0.6249,0.0,0.0,1.0
2,42417293,626488723,2020-05-28,199172803,Nurul,Clean,5.0,en,0.4019,0.0,0.0,1.0
3,3460343,620733537,2020-03-24,115427441,Steven,Great,5.0,en,0.6249,0.0,0.0,1.0
4,21037382,572169987,2019-12-02,149877892,Bill,Clean,5.0,en,0.4019,0.0,0.0,1.0

match listings_df.id with reviews_df.listing_id

# Get sample dataset

In [4]:
# sample = reviews_df.sample(frac=0.1)
# sample.to_csv('sample_sentiment.csv')

In [5]:
# Remove neutral comments
reviews_df = reviews_df[reviews_df['compound'] != 0]
print(reviews_df.shape)
# Drop irrelevant columns
reviews_df = reviews_df.drop(columns=['id', 'date', 'reviewer_name','reviewer_id', 'comments', 
                                    'length', 'language', 'neg', 'neu', 'pos'])

(59091, 12)

In [6]:
reviews_df.head()

   listing_id  compound
0    25972498    0.6249
1    42417293    0.6249
2    42417293    0.4019
3     3460343    0.6249
4    21037382    0.4019

# Strategy to get sentiment rating

Get average compound by listing_id
1. Find total no. of listing_ids
2. For each listing_id
- Find total no. of reviews 
- Sum compound column
- Divide compound sum with no. of reviews 
- Place in new column called sentiment_rating
- final df should only have listing_id and sentiment_rating

In [7]:
reviews_df['listing_id'].nunique()

3919

In [8]:
new_df = reviews_df.groupby(['listing_id']).mean().reset_index()
new_df = new_df.rename(columns={"compound": 'sentiment_rating'})

In [9]:
for column in new_df.columns:
    num_nans = new_df[column].isna().sum()
    print('percentage of NaNs for {}: {:.3f}'.format(
        column, 
        num_nans / len(new_df) * 100
    ))

percentage of NaNs for listing_id: 0.000
percentage of NaNs for sentiment_rating: 0.000

In [10]:
new_df.head()

   listing_id  sentiment_rating
0       49091          0.961500
1       50646          0.933440
2       56334          0.936243
3       71609          0.681446
4       71896          0.747300

In [11]:
new_df.to_csv('reviews_rating.csv', index=False)