In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
def load_data(file):
    with open(file, 'rb') as fo:
        try:
            samples = pickle.load(fo)
        except UnicodeDecodeError:  # python 3.x
            fo.seek(0)
            samples = pickle.load(fo, encoding='latin1')

    data, labels = samples['data'], samples['labels']

    data = np.array(data, dtype=np.float32) / 255
    labels = np.array(labels, dtype=np.int32)
    return data, labels

In [4]:
test_batch = load_data('test_batch')
batch_train = load_data('data_batch_1')

In [5]:
df = pd.DataFrame(data=test_batch[1], columns=['Label'])

In [6]:
df

      Label
0         3
1         8
2         8
3         0
4         6
...     ...
9995      8
9996      3
9997      5
9998      1
9999      7

[10000 rows x 1 columns]

In [7]:
df['Label'].value_counts()

7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: Label, dtype: int64

In [9]:
df_2 = pd.DataFrame(data=batch_train[1], columns=['Label'])

In [10]:
df_2

      Label
0         6
1         9
2         9
3         4
4         1
...     ...
9995      3
9996      9
9997      1
9998      1
9999      5

[10000 rows x 1 columns]

In [13]:
df_2['Label'].value_counts().sort_values(ascending=False)

2    1032
6    1030
8    1025
3    1016
0    1005
7    1001
4     999
9     981
1     974
5     937
Name: Label, dtype: int64