In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('list_attr_celeba_cleaned.csv')

In [3]:
df

,directory,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,-1,-1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1
202595,202596.jpg,-1,-1,-1,-1,-1,1,1,-1,-1,...,-1,1,1,-1,-1,-1,-1,-1,-1,1
202596,202597.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
202597,202598.jpg,-1,1,1,-1,-1,-1,1,-1,1,...,-1,1,-1,1,1,-1,1,-1,-1,1
202598,202599.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,1,-1,-1,1

In [4]:
df = df[['directory', 'Male']]

In [5]:
df['Male'].value_counts() / 202599 * 100

-1    58.324572
 1    41.675428
Name: Male, dtype: float64

In [6]:
df = df.rename(columns={"Male": "gender", "directory": "datadir"})

In [7]:
df['gender'] = df['gender'].replace(-1,0)

In [8]:
df

           datadir  gender
0       000001.jpg       0
1       000002.jpg       0
2       000003.jpg       1
3       000004.jpg       0
4       000005.jpg       0
...            ...     ...
202594  202595.jpg       0
202595  202596.jpg       1
202596  202597.jpg       1
202597  202598.jpg       0
202598  202599.jpg       0

[202599 rows x 2 columns]

In [9]:
df.to_csv(r'aligned_celeba.txt', index=None, sep='\t', mode='a')