In [1]:
import pandas as pd

In [2]:
listings = pd.read_csv('listings.csv')

In [6]:
listings['room_type'].value_counts()/7907 * 100

Entire home/apt    52.257493
Private room       42.759580
Shared room         4.982927
Name: room_type, dtype: float64

In [11]:
shared = listings['room_type'] == 'Shared room'
region = listings['neighbourhood_group'] == 'Central Region'

price_share = listings[shared & region]

In [12]:
price_share.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.480000e+02,3.480000e+02,348.000000,348.000000,348.000000,348.000000,348.000000,258.000000,348.000000,348.000000
mean,2.061951e+07,9.062870e+07,1.298519,103.847071,59.198276,2.729885,13.910920,0.793023,21.474138,286.060345
std,9.697997e+06,7.138072e+07,0.013591,0.021621,153.239724,16.150821,26.237786,0.803361,29.506252,123.233498
min,7.199440e+05,5.810330e+05,1.271730,103.767960,18.000000,1.000000,0.000000,0.020000,1.000000,0.000000
25%,1.236692e+07,4.322862e+07,1.286775,103.844678,26.000000,1.000000,0.000000,0.210000,6.000000,267.500000
50%,2.083891e+07,6.344891e+07,1.299475,103.848620,32.000000,1.000000,3.000000,0.545000,9.000000,355.000000
75%,2.899818e+07,1.177660e+08,1.310057,103.858808,46.000000,1.000000,15.000000,1.060000,17.250000,362.000000
max,3.775779e+07,2.642307e+08,1.364860,103.904050,2500.000000,240.000000,192.000000,5.800000,109.000000,365.000000

In [22]:
listings.groupby(['neighbourhood','neighbourhood_group']).size().sort_values(ascending=False)

neighbourhood            neighbourhood_group
Kallang                  Central Region         1043
Geylang                  Central Region          994
Novena                   Central Region          537
Rochor                   Central Region          536
Outram                   Central Region          477
Bukit Merah              Central Region          470
Downtown Core            Central Region          428
Bedok                    East Region             373
River Valley             Central Region          362
Queenstown               Central Region          266
Tanglin                  Central Region          210
Singapore River          Central Region          175
Marine Parade            Central Region          171
Jurong West              West Region             153
Orchard                  Central Region          136
Newton                   Central Region          134
Bukit Timah              Central Region          131
Jurong East              West Region             118
Hougang                  North-East Region       109
Clementi                 West Region             102
Toa Payoh                Central Region          101
Pasir Ris                East Region              71
Serangoon                North-East Region        69
Sengkang                 North-East Region        67
Woodlands                North Region             67
Bukit Batok              West Region              65
Tampines                 East Region              64
Choa Chu Kang            West Region              63
Museum                   Central Region           63
Ang Mo Kio               North-East Region        58
Bishan                   Central Region           57
Yishun                   North Region             53
Punggol                  North-East Region        43
Sembawang                North Region             41
Central Water Catchment  North Region             34
Bukit Panjang            West Region              34
Southern Islands         Central Region           17
Sungei Kadut             North Region              5
Western Water Catchment  West Region               4
Mandai                   North Region              3
Lim Chu Kang             North Region              1
Marina South             Central Region            1
Tuas                     West Region               1
dtype: int64

In [21]:
listings.groupby(['neighbourhood_group']).size().sort_values(ascending=False)

neighbourhood_group
Central Region       6309
West Region           540
East Region           508
North-East Region     346
North Region          204
dtype: int64